												/* rack heroes*/


#Basehero1_Smitty_rack_image : {

				background-image: url(   )  ;
				width: px;
    			height: px;
    			margin-left: auto;
    			margin-right: auto;


}

#Basehero2_Nuepuw_rack_image : {

				background-image: url(   )  ;
				width: px;
    			height: px;
    			margin-left: auto;
    			margin-right: auto;
	
}



											/*other creatures */

#fighter1_Bruiseers_rack_image : {

				background-image: url(   )  ;
				width: px;
    			height: px;
    			margin-left: auto;
    			margin-right: auto;

}

#fighter2_Alphas_rank_image :{

				background-image: url(   )  ;
				width: px;
    			height: px;
    			margin-left: auto;
    			margin-right: auto;

}





											/* rack Weapons and equipment */


#base_axe_rack_image : {

				background-image: url(   )  ;
				width: px;
    			height: px;
    			margin-left: auto;
    			margin-right: auto;

}

#base_sword_rack_image :{

				background-image: url(   )  ;
				width: px;
    			height: px;
    			margin-left: auto;
    			margin-right: auto;

}

#leather_shield_rack_image :{

				background-image: url(   )  ;
				width: px;
    			height: px;
    			margin-left: auto;
    			margin-right: auto;

}

#wood_shield_rack_image :{

				background-image: url(   )  ;
				width: px;
    			height: px;
    			margin-left: auto;
    			margin-right: auto;

}

#ironjunk_rack_image :{

				background-image: url(   )  ;
				width: px;
    			height: px;
    			margin-left: auto;
    			margin-right: auto;

}